# Занятие 1

## 1 Плот

In [ ]:
def find_way(x1, y1, x2, y2, x, y):
    ans = ""
    if y > y2:
        ans += "N"
        if x <= x1:
            ans += "W"
            return ans
        elif x >= x2:
            ans += "E"
            return ans
        else:
            return ans

    if y < y1:
        ans += "S"
        if x <= x1:
            ans += "W"
            return ans
        elif x >= x2:
            ans += "E"
            return ans
        else:
            return ans

    else:
        if x < x1:
            ans += "W"
            return ans
        else:
            ans += "E"
            return ans

In [ ]:
x1 = int(input())
y1 = int(input())
x2 = int(input())
y2 = int(input())
x = int(input())
y = int(input())

print(find_way(x1, y1, x2, y2, x, y))

-1
-2
5
3
-4
6
NW

## 2 Майки и носки

In [ ]:
def m_and_n(a, b, c, d):
    if a == 0 or c == 0:
        if a == 0:
            return 1, c+1
        else:
            return a+1, 1

    if b == 0 or d == 0:
        if b == 0:
            return 1, d+1
        else:
            return b+1, 1

    m = max(a,b) + 1
    n = max(c,d) + 1

    if m < n:
        m2 = m
        n2 = 1
    else:
        m2 = 1
        n2 = n

    m1 = min(a, b) + 1
    n1 = min(c, d) + 1
    if m1+n1 <= m2+n2 and (a<b and c<d or a>b and c>d):
        return m1, n1
    return m2, n2

In [ ]:
import numpy as np

for _ in range(10):
    a = np.random.randint(10)
    b = np.random.randint(10)
    c = np.random.randint(10)
    d = np.random.randint(10)

    print(a,c)
    print(b,d)
    print("ans", m_and_n(a, b, c, d)[0], m_and_n(a, b, c, d)[1])
    print("-----")

2 3
9 3
ans 1 4
-----
4 4
9 1
ans 1 5
-----
4 8
2 2
ans 3 3
-----
5 4
5 3
ans 1 5
-----
2 1
5 7
ans 3 2
-----
8 8
4 5
ans 1 9
-----
8 2
9 3
ans 1 4
-----
6 8
0 9
ans 1 10
-----
2 7
1 3
ans 3 1
-----
0 1
8 1
ans 1 2
-----

In [ ]:
print("ans", m_and_n(6, 2, 0, 4))

ans (7, 1)

## 3 Надпись на табло

In [ ]:
# chet len'

# Занятие 2 Префиксы и Два указателя

## 1

In [ ]:
n = int(input())
a = list(map(int, input().split()))

b = [0]*(n+1)
for i in range(n):
    b[i+1] = a[i] + b[i]
    print(b[i+1], end=" ")

5
10 -4 5 0 2
10 6 11 11 13

## 2

In [ ]:
n, k = list(map(int, input().split()))
cars = list(map(int, input().split()))

# with open("test.txt", "r") as f:
#     n, k = list(map(int, f.readline().split()))
#     cars = list(map(int, f.readline().split()))

R = 0
count = 0
sum = 0
for L in range(n):
    while R < n and sum < k:
        sum += cars[R]
        R += 1

    if sum == k:
        count += 1
    sum -= cars[L]

print(count)

5 10
1 2 3 4 10
2

## 3

In [ ]:
# n, r = list(map(int, input().split()))
# d = list(map(int, input().split()))

with open("test.txt", "r") as f:
    n, r = list(map(int, f.readline().split()))
    d = list(map(int, f.readline().split()))

R = 0
count = 0
for L in range(n):
    while R < n and d[R] - d[L] <= r:
        R += 1
    count += n - R

print(count)

4

## 4

In [ ]:
# n, k = list(map(int, input().split()))
# a = list(map(int, input().split()))

with open("test.txt", "r") as f:
    n, k = list(map(int, f.readline().split()))
    a = list(map(int, f.readline().split()))

a.sort()
best = 0

R = 0
for L in range(n):
    while R < n and a[R] - a[L] <= k:
        R += 1
    best = max(best, R-L)

print(best)

2

## 5

In [ ]:
# n = int(input())
# a = list(map(int, input().split()))

with open("test.txt", "r") as f:
    n = int(f.readline())
    a = list(map(int, f.readline().split()))

a.sort()


if n%2 == 0:
    L = n//2 - 1
    R = n//2
else:
    L = n//2
    print(a[L], end=" ")
    L = n//2 - 1
    R = n//2 + 1

for _ in range(n//2):
    print(a[L], a[R], end=" ")
    L -= 1
    R += 1

8 3 19

## 6

In [ ]:
# n = int(input())
# a = list(map(int, input().split()))

with open("test.txt", "r") as f:
    n = int(f.readline())
    a = list(map(int, f.readline().split()))

b = [0]*(n+1)
for i in range(n):
    b[i+1] = a[i] + b[i]


sum = 0
for j in range(1, n-1):
    sum_i = (b[j] - b[0])
    sum_k = (b[n] - b[j+1])

    sum += a[j] * sum_i * sum_k
    if sum >= 1000000007:
        sum = sum % 1000000007

print(sum)

6

## 7

In [ ]:
# n, c = list(map(int, input().split()))
# s = input()

with open("test.txt", "r") as f:
    n, c = list(map(int, f.readline().split()))
    s = f.readline()

best = 0

ab = [0, 0]
flag = 0 #  start with  0: a  1: b

R = 0
G = 0
for L in range(n):
    while R < n and G <= c:
        # print(L, R, ab, G, best)
        if s[R] == "a":
            ab[0] += 1
        if s[R] == "b":
            ab[1] += 1
            G += ab[0]

        if G > c:
            best = max(best, R-L-1)
        else:
            best = max(best, R-L+1)

        R += 1



    if s[L] == "a":
        ab[0] -= 1
        G -= ab[1]
    if s[L] == "b":
        ab[1] -= 1



print(best)

4